<%- include("partials/header") -%>
<div class="container">
    <h1>COVID-19 TRACKER</h1>
  </div>
  <div class="container-fluid about">
    <h6 class="para">Who are you?</h6>
      <p>We are a group of dedicated students who want to spread awareness about this deadly virus and help as many people as possible. We never collect or expose any personally identifiable data regarding the patients.</p>


      <h6 class="para">Are you official?</h6>
      <p>No, we are not official. We are just a bunch of students.😉</p>


      <h6 class="para">What are your sources? How is the data gathered for this project?</h6>
      <p>We are using two different api's, one for India and its states and other for the global cases to update our numbers. The data is validated by a group of volunteers and published into an API. API is available for all at api.covid19india.org and api.covid19api.com. Feel free to use this data in the fight against this virus.</p>

      <h6 class="para">Where can I find the data for this?</h6>
      <p>All the data is available through an API for further analysis and development here : <a href="https://api.covid19api.com/summary">api.covid19api.com</a>  , <a href="https://api.covid19india.org/data.json">api.covid19india.org</a>, <a href="">apisetu.gov.in/public/marketplace/api/cowin</a> </p>


      


      <h6 class="para">Why are you guys putting in time and resources to do this while not gaining a single penny from it?</h6>
      <p>Because it affects all of us. Today it's someone else who is getting infected; tomorrow it could be us. We need to prevent the spread of this virus. We need to document the data so that people with knowledge can use this data to make informed decisions.</p>
    </div>
<%- include("partials/footer") -%>